*{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
    background: #f4f4f4;
}
.butBack,.deleteBut{
    width: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    left: 50%;
    margin-left: -135px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.butBack:hover{
    background: #ccc;
}
.conteinerForm{
    width: 270px;
    padding: 25px;
    background: #fff;
    position: relative;
    left: 50%;
    margin-left: -135px;
    margin-top: 10px;
    border-radius: 10px;
}
form>div{
    padding: 5px 0px ;
}
.inputForm{
    width: 256px;
    padding: 5px;
}
.errorForm{
    color: red;
    font-size: 13px;
}
.butForm{
    padding: 10px;
    width: 271px;
    cursor: pointer;
    margin-top: 10px;
    border: 0px;
}
.butForm:hover{
    background: #ccc;
}
.conteinerCar{
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    width: 1100px;
    position: relative;
    left: 50%;
    margin-left: -550px;
    margin-top: 50px;
}
table{
    width: 100%;
}
caption{
    font-size: 16px;
    padding: 5px;
}
.headerTable{
    background: #ccc;
}
th{
    padding: 5px 5px 5px 5px;
}
.deleteBut{
    width: 200px;
    padding: 10px;
    margin: 20px 0 0  -135px;
}
.butBack:hover,.butTh:hover,.deleteBut:hover{
    background: #ccc;
    cursor: pointer;
}