*{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

}
a{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
    background: #f4f4f4;
}
.butBack{
    width: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    left: 50%;
    margin-left: -550px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.conteinerCar{
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    width: 1100px;
    position: relative;
    left: 50%;
    margin-left: -550px;
}
table{
    width: 100%;
}
caption{
    font-size: 16px;
    padding: 5px;
}
.headerTable{
    background: #ccc;
}
th{
    padding: 5px 5px 5px 5px;
}
.butAddCar{
    width: 200px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    position: relative;
    left: 50%;
    margin-left: -550px;
    margin-top: 10px;
}
.butBack:hover,.butTh:hover,.butAddCar:hover{
    background: #ccc;
}