*{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    margin: 0;
    background: #f4f4f4;
}
.conteiner{
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    margin-top: 10%;
}
.conteiner>a>div{
    width: 100%;
    padding: 5px;
    background:#fff;
    border-radius:10px;
    margin-top: 10px;
}
.conteiner>a>div:hover,.butExitUser:hover{
    background: #ccc;
}
.butExitUser{
    width: 100px;
    background:#fff;
    padding: 5px;
    border-radius:10px;
    position: relative;
    left: 100%;
    text-align: center;
    margin-left: -120px;
    margin-top: 10px;
}